[Desktop Entry]
Name=Commsbus
Comment=High Quality Network Audio Streaming 
GenericName=Network Audio Streaming Software
Exec=commsbus
Icon=${SNAP}/meta/gui/commsbus.png
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Mixer;
Keywords=live;online;music;conference;
